body{
    background-color: #EEE;
    font-family: 'Times New Roman', 'Arial', Times, serif;
}

#header{
    background-color: #000000;
    color: white;
    text-align: right;
    padding: 10px;
}

#container{
    background-color:white;
}

h1{
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

#SocialMediaLinks{
    background-color : yellow;
    color: black;
    text-align: center;
    padding: 10px;
}

#githubPicture{
    border: blue;
    padding: 20px;
}

#instagramPicture{
    border:blue;
    padding: 20px;
}

#linkedinPicture{
    border: blue;
    padding: 20px;
}